* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 1170px;
	margin: 0 auto;
	/*центрування*/
	height: 50px;
}

body {
  	background-image: url("images/patt.png");
  	}

[class*="col-"] {
 	float: left;

 }
 /*розташовуємо всі блоки горизонтально*/

.col-md-3 {
	width: 25%;

}
.col-md-6 {
	width: 50%;
}
/*задаємо у процентному співвідношенні (рахуємо по рожевим полоскам в макеті)*/

.row:after {
	content:"";
	clear:both;
	display:block;
}

.header {
	background-color: rgba(255,255,255,0.75);
	padding: 25px 0;
}

.menu li{
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8;
	position: relative;
}

.menu li:last-child {
	border-right: 1px solid #2c71b8;
}


.menu a {
	height: 50px;
	text-align: center;
	line-height: 50px;
	/*po centry roztashyvanyya text*/
	text-decoration: none;
	font-size: 21px;
	color: #2c71b8;
	display: block;
}

.menu a:hover {
	background-color: #2c71b8;
	color: white;
}

.logo {
	position: relative;
	top: 8px;
	/*Заданий педінг до хедера 25 був. Нам треба до логотипа 33 тому +8 ще*/
}

.search {
	width: 75%;
	float: left;
	border:1px solid #2c71b8;
	height: 40px;
	width: 200px;
	padding-left: 20px;
	margin-top: 5px;
	position: relative;
	left:30px;
}

::-webkit-input-placeholder {color:#2c71b8; font-size: 21px;}
	/*задаємо колір placeholder*/

.pole {
	border:none;
	outline:none;
	background-color: #11ffee00;
	/*Задали повністю прозорий фон*/
	padding: 0px;
	width: 130px;
	height: 21px;
	position: relative;
	top: -5px;
}

.button {
		height: 30px;
		width: 30px;
		background-color: #2c71b8;
		border:solid #2c71b8;
		padding: 0px;
		border: 0px;
		position: relative;
		top: 4px;
		left: 11px;
		background-image: url("images/search.png");
		background-repeat: no-repeat;
		background-position: center center;
}

.buy {
	width: 25%;
	float: left;

}

.basket {
	height: 40px;
	width: 40px;
	background-color:white;
	position: relative;
	left: 60px;
	top:5px;
	background-image: url("images/buy.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 11px;
	color: white;
	line-height: 20px;
	text-align: center;
	background-color: #2c71b8;
	position: absolute;
	left: -11px;
	top: -11px;
}

.pid li {
	clear: both;
	border: none;
}

.pid li:last-child {
	border: none;
}

 .menu li ul {
 	display:none;
 	/*Ховаємо наше підменю*/
 }

.menu li:hover ul {
    display:block;
    /*Задаємо щоб при наведені з'являлось наше підменю.'*/
}

.pid li a {
	width: 293.5px;
	padding-left: 30px;
	text-align: left;
	background-color: #2c71b8;
	color: white;
}

.pid li a:hover {
	background-color: white;
	color: #2c71b8;
} 

.pid {
	position: absolute;
	left: -1px;
	z-index: 1;
}

.strilka {
	height: 20px;
	width: 20px;
	position: relative;
	left: 115px;
	top:-28px;
	line-height: 20px;
}

li:hover > a {
	background-color: #2c71b8;
	color: white;
}

.slide {
	height: 100px;
	text-align: center;
	font-size: 70px;
	color: white;
}

.main {
	height: 2736px;
}

.laptops {
	 font-size: 48px;
	 color: white;
}

.col1 {
	width: 50%;
	float: left;
	font-size: 18px;
	color: black;
	text-align: center;
	position: relative;
	top:60px;
	z-index: 1px;
}

.col2 {
	width: 50%;
	float: left;
	font-size: 18px;
	color: black;
	text-align: center;
}

.device {
	text-align: center;
}

.all {
	text-align: center;
}


.diagonal {
	height: 180px;
	width: 270px;
	border: 1px solid white;
  	background: 
  	linear-gradient(to top right, transparent 49.9%, white 49.9%, white 50.4%, transparent 50.1%),    
  	linear-gradient(to bottom right, transparent 49.9%, white 49.9%, white 50.4%, transparent 50.1%);
  	background-color: rgba(255,255,255,0.65);
}

.products {
	height: 452px;
	width: 270px;
	border: 1px solid white;
	border-top: none;
}

.img {
	position: relative;
	top: 45px;
}

.devicename {
	font-size: 30px;
	font-weight: bold;
	height: 56px;
	color: white;
	text-align: left;
	padding-left: 15px;
	line-height: 56px;
}


.description {
	text-align: left;
	padding-left: 15px;
	color: white;
	font-weight: 100;
	line-height: 1.3;
}

b {
	font-weight: bold;
	text-transform: uppercase;
	/*Всі літери прописні*/
	color: white;
}

.type {
	height: 32px;
	line-height: 32px;
}

sup { 
  vertical-align: super;
  /* Елемент відображається як надстрочний.*/
  font-size: 26px;
}

.price {
	font-size: 44px;
	color: white;
	font-weight: bold;
	position: relative;
	top: 20px;
}

.detal {
	position: relative;
	top: 45px;
}
.detals {
		height: 48px;
		width: 208px;
		padding: 0px;
		background-color: #2c71b8;
		border: 1px solid white;
}

.cart {
	position: relative;
	top: 60px;


}
.carts {
		height: 48px;
		width: 208px;
		padding: 0px;
		background-color: #2c71b8;
		border: 1px solid white;

}


