* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 1200px;
	margin: 0 auto;
	/*центрування*/
	height: 50px;
}


body {
  	background-image: url("images/patt.png");
  	}

[class*="col-"] {
 	float: left;

 }
 /*розташовуємо всі блоки горизонтально*/

.col-md-3 {
	width: 25%;

}
.col-md-6 {
	width: 50%;
}
/*задаємо у процентному співвідношенні (рахуємо по рожевим полоскам в макеті)*/

.row:after {
	content:"";
	clear:both;
	display:block;
}

.header {
	background-color: rgba(255,255,255,0.75);
	padding: 25px 0;
}

.menu li{
	position: relative;
	left: 15px;
	width: 23.75%;
	float: left;
	border-left: 1px solid #2c71b8;
	position: relative;
}

.menu li:last-child {
	width: 143.5px;
	border-right: 1px solid #2c71b8;
}

.menu a {
	height: 50px;
	text-align: center;
	line-height: 50px;
	/*po centry roztashyvanyya text*/
	text-decoration: none;
	font-size: 21px;
	color: #2c71b8;
	display: block;
}

.menu a:hover {
	background-color: #2c71b8;
	color: white;
}

.logo {
	position: relative;
	left: 15px;
	top: 8px;
	/*Заданий педінг до хедера 25 був. Нам треба до логотипа 33 тому +8 ще*/
}

.search {
	width: 75%;
	float: left;
	border:1px solid #2c71b8;
	height: 40px;
	width: 200px;
	padding-left: 20px;
	margin-top: 5px;
	position: relative;
	left:15px;
}

::-webkit-input-placeholder {color:#2c71b8; font-size: 21px;}
	/*задаємо властивості placeholder*/

.pole {
	border:none;
	outline:none;
	background-color: #11ffee00;
/*	Задали повністю прозорий фон*/
	padding: 0px;
	width: 130px;
	height: 21px;
	position: relative;
	top: -5px;
}

.button {
	height: 30px;
	width: 30px;
	background-color: #2c71b8;
	border:solid #2c71b8;
	padding: 0px;
	border: 0px;
	position: relative;
	top: 4px;
	left: 11px;
	background-image: url("images/search.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.buy {
	width: 25%;
	float: left;
}

.basket {
	height: 40px;
	width: 40px;
	background-color:white;
	position: relative;
	left: 45px;
	top:5px;
	background-image: url("images/buy.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 11px;
	color: white;
	line-height: 20px;
	text-align: center;
	background-color: #2c71b8;
	position: absolute;
	left: -11px;
	top: -11px;
}

.pid li {
	clear: both;
	border: none;
}

.pid li:last-child {
	border: none;
}

 .menu li ul {
 	display:none;
 	/*Ховаємо наше підменю*/
 }

.menu li:hover ul {
    display:block;
    /*Задаємо щоб при наведені з'являлось наше підменю.'*/
}

.pid li a {
	width: 286px;
	padding-left: 30px;
	text-align: left;
	background-color: #2c71b8;
	color: white;
}

.pid li a:hover {
	background-color: white;
	color: #2c71b8;
} 

.pid {
	position: absolute;
	left: -16px;
	z-index: 1;
}

.strilka {
	height: 50px;
	width: 141.5px;
	position: relative;
	left: 0px;
	top:-50px;
	background-image: url("images/strblue.png");
	background-repeat: no-repeat;
	background-position: 92% 50%;
}

.strilka:hover {
	background-image: url("images/strwhite.png");
	background-repeat: no-repeat;
	background-position: 92% 50%;
}

li:hover > a {
	background-color: #2c71b8;
	color: white;
}

li:hover .strilka {
	background-image: url("images/strwhite.png");
	background-repeat: no-repeat;
	background-position: 92% 50%;
}

.container2 {
	width: 1200px;
	margin: 0 auto;
	/*центрування*/
}

.slider {
	height: 370px;
	width: 1113px;
	text-align: center;
	font-size: 70px;
	color: white;
	line-height: 400px;
	position: relative;
  	top: 50%;
  	left: 50%;
	transform: translate(-50%); 
}

.slider-backgraund {
	background-color: rgb(0, 0, 0, 0.2);
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}

.slick-prev:before{
    content: url("images/sliderstr1.png");
    opacity: 1;
}

.slick-next:before {
    content: url("images/sliderstr2.png");
    opacity: 1;
    position: relative;
    top: 1px;
    left: -4.5px;
}

.slick-dots {
bottom: -170px;
}

.slick-dots li button:before {
	content: url("images/slidersquare.png");
	opacity: 1;
}

.slick-dots li.slick-active button:before {
	content: url("images/slidersquarewhite.png");
	opacity: 1;
}


.main {
	height: 2736px;
}

.breadcrumbs {
	position: relative;
	left: 15px;
  	font-size: 14px;
  	color: rgba(255, 255, 255, 0.502);
  	height: 70px;
	line-height: 70px;
}

.breadcrumbs1 {
	color: rgba(255, 255, 255, 0.502);
	text-decoration: none;
}

.laptops {
	position: relative;
	left: 15px;
	font-size: 46px;
	color: white;
	height: 46px;
}

.col1 {
	width: 50%;
	float: left;
	text-align: center;
	position: relative;
	left: 15px;
	top:50px;
}

.col2 {
	width: 50%;
	float: left;
	text-align: center;
	position: relative;
	left: 15px;
	top:50px;
}

.col3 {
	text-align: center;
	position: relative;
	left: 15px;
	top:50px;
}

.position {
	position: relative;
	top:30px;
}

.position1 {
	position: relative;
	top:60px;
}

.position2 {
	position: relative;
	top:76px;

}

.position3 {
	position: relative;
	top:106px;
}

.position4 {
	position: relative;
	top:136px;
}

.sort {
	height: 270px;
}

.sort li {
	position: relative;
}

.sortby a {
	height: 40px;
	width: 270px;
	text-align: left;
	padding-left: 20px;
	line-height: 40px;
	border:1px solid white;
	text-decoration: none;
	font-size: 21px;
	color: white;
	display: block;
	font-weight: 200;
	background-color: #2c71b8;
}

.strilka2 {
	height: 40px;
	width: 270px;
	position: relative;
	right: 21px;
	top: -41px;
	background-image: url("images/srtsortwhite.png");
	background-repeat: no-repeat;
	background-position: 95% center;
}

 .sortby li ul {
 	display:none;
 	/*Ховаємо наше підменю*/
 } 

.sortby li:hover ul {
    display:block;
    /*Задаємо щоб при наведені з'являлось наше підменю.'*/
}

.pid1 li a {
	background-color: #2c71b8;
	color: white;
	border-top: none;
	border-bottom: none;
}

.pid1 li:last-child {
	border-bottom: 1px solid white;
	width: 270px;
}

.pid1 li a:hover {
	background-color: white;
	color: #2c71b8;
} 

.pid1 {
	position: absolute;
	z-index: 1;
}

.sortby {
	position: relative;
	top:20px;
}

.all {
	text-align: center;
}

.diagonal {
	height: 180px;
	width: 270px;
	border: 1px solid white;
  	background: 
  	linear-gradient(to top right, transparent 49.9%, white 49.9%, white 50.4%, transparent 50.1%),    
  	linear-gradient(to bottom right, transparent 49.9%, white 49.9%, white 50.4%, transparent 50.1%);
  	background-color: rgba(255,255,255,0.65);
  	position: relative;
}

.products {
	height: 472px;
	width: 270px;
	border: 1px solid white;
	border-top: none;
}

.img {
	position:relative;         
   	top: 50%;                         
   	transform: translate(0, -50%)
}

.devicename {
	font-size: 30px;
	font-weight: bold;
	height: 56px;
	color: white;
	text-align: left;
	padding-left: 15px;
	line-height: 56px;
}

.description {
	/*Опис*/
	text-align: left;
	padding-left: 15px;
	color: white;
	font-weight: 200;
	line-height: 1.6;
}

b {
	font-weight: bold;
	text-transform: uppercase;
	/*Всі літери прописні*/
	color: white;
}

.type {
	height: 34px;
	line-height: 34px;
}

sup { 
	vertical-align: super;
	/* Елемент відображається як надстрочний.*/
	font-size: 26px;
}

.price {
	font-size: 44px;
	color: white;
	font-weight: bold;
	position: relative;
	top: 20px;
}

.quantity-block {
	position: relative;
	top: 50px;
}

.quantity-input {
	height: 50px;
	width: 210px;
	padding: 0px;
	background-color: rgba(44, 113, 184, 0.5);
	border: 1px solid white;
	color: white;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

.quantity-input:hover {
	background-color: rgba(28, 101, 176, 0.5);
}

.decrement-button, .increment-button {
	background-color: rgba(44, 113, 184, 0.5);
	border: none;
	outline: none;
	color: white;
	height: 20px;
	width: 20px;
	text-align: 20px;
	font-size: 20px;
}

.decrement-button {
	position: relative;
	left: 30px;
}

.increment-button {
	position: relative;
	right: 30px; 
}

.cart {
	height: 48px;
	position: relative;
	top: 70px;
}

.carts {
	height: 50px;
	width: 210px;
	padding: 0px;
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid white;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
}

.carts:hover {
	background-color: rgba(255, 255, 255, -0.8);
}

.basketwhite {
	height: 19px;
	width: 19px;
	background-image: url("images/buywhite.png");
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	left: 203px;
	top: 12px;
}

.square {
	height: 28px;
	width: 28px;
	border: 1px #2c71b8 solid;
	background-color: rgba(255,255,255,0.3);
	position: absolute;
	top: 10px;
	right: 10px;
	background-image: url("images/square.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.square:hover {
	background-color: #2c71b8;
	background-image: url("images/squarewhite.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.heart {
	height: 28px;
	width: 28px;
	border: 1px #2c71b8 solid;
	background-color: rgba(255,255,255,0.3);
	position: absolute;
	top: 50px;
	right: 10px;
	background-image: url("images/heart.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.heart:hover, .liked {
	background-color: #2c71b8;
	background-image: url("images/heartwhite.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.footer {
	height: 100px;
	background-color: rgba(255,255,255,0.75);
	text-align: center;
	color: #2c71b8;
	line-height: 100px;
}

.lead {
	color: white;
	font-size: 28px;
	position: relative;
	top:105px;
	right: 20px;
	font-weight: 200;
}

.device {
	position: relative;
	left: 15px;
	width: 270px;
	height: 845px;
	border-right: 1px solid white;
	background-color: rgba(255,255,255,0.2);
}

.input {
	display: none;
}


label {
	position: relative;
	top: 10px;
	left: 30px;
	color: white;
	font-weight: 200;
	line-height: 2.4;
	font-size: 17px;
}

label:before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border:1px solid white;
}

input:checked + label:before {
	background-color: white;
}

.checkbox {
	padding-top: 33px;
	padding-left: 30px;
}

.checkbox_1 {
	padding-top: 65px;
	padding-left: 30px;
}

.showmore {
	height: 75;
	width: 210px;
	line-height: 75px;
	color: white;
	font-weight: 200;
	padding-left: 37px;
}

.submit {
	text-align: center;
}

.button-checkbox {
	height: 50px;
	width: 210px;
	padding: 0px;
	background-color: rgba(44, 113, 184, 0.5);
	border: 1px solid white;
	color: white;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}

.button-checkbox:hover {
	background-color: rgba(28, 101, 176, 0.5);
}
